.card-container {
  margin: 0 1rem 1rem 1rem;
}

.dish-card {
  min-height: 90px;
}

.title-width {
  max-width: 80%;
  font-size: 1.4rem;
  font-weight: 450;
  display: flex;
  flex-direction: column;

  > span {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.price-position {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.rating-position {
  position: absolute;
  right: 0.5rem;
  top: 3rem;
}

.rating-2 {
  background-color: #ff5c5c !important;
}

.rating-4 {
  background-color: #ff8d5c !important;
}

.rating-6 {
  background-color: #ffd95c !important;
}

.rating-8 {
  background-color: #cbff5c !important;
}

.rating-10 {
  background-color: #a0ff5c !important;
}

.warning {
  border-color: #ff6666;
  border-width: 0.2rem;
}

:host-context(.dark) {
  .rating-2 {
    background-color: #6e0000 !important;
  }
  .rating-4 {
    background-color: #6e4400 !important;
  }
  .rating-6 {
    background-color: #616e00 !important;
  }
  .rating-8 {
    background-color: #456e00 !important;
  }
  .rating-10 {
    background-color: #026e00 !important;
  }
  .warning {
    border-color: #702721;
    border-width: 0.2rem;
  }
}
