/* You can add global styles to this file, and also import other style files */
@use "styles/roboto.scss";
@use "styles/material-icons.scss";
@use "@angular/material" as mat;
@use "./styles/_theme-colors.scss" as theme-colors;
/* styles.css */

html {
  @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: theme-colors.$primary-palette,
          tertiary: theme-colors.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
      )
  );
}

html.dark {
  @include mat.theme(
      (
        color: (
          theme-type: dark,
          primary: theme-colors.$primary-palette,
          tertiary: theme-colors.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
      )
  );
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.dialog-background {
  background-color: rgba(40,40,40,.4);
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
}

.toast-container .ngx-toastr {
  margin-top: 0.8rem !important;
  box-shadow: 0 0 0.375rem #000 !important;
}

.header-toolbar {
  box-shadow: 0 0 4px 0 black !important;
  height: 4rem !important;
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary-container),
  ));
  @include mat.fab-overrides((
    container-color: var(--mat-sys-secondary-container)
  ))
}

.dark {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-inverse-primary),
  ));
}
