.dish-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.dish-card {
  width: 100%;
}

.collect-card {
  margin: 1rem;
  border: 1px solid darkgray;
}

.rate-mode-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.rate-mode-toggle-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 769px) {
    display: none;
  }
}

.button-toggle {
  height: 1.6rem;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;

  > h2 {
    margin-bottom: 0.5rem;
  }
}

.mensa-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.no-dishes {
  margin: 1rem;
  text-align: center;
  width: 100%;
}

.calendar-navigation {
  display: flex;
  align-items: center;
}

.card-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.date-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.filter-menu {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.filter-menu-button {
  margin-right: 1rem;
}
