.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.select-field {
  width: 400px;
  margin: 20px;

  @media (max-width: 768px) {
    width: 280px;
  }
}


