<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max x -->
            <maxFileSize>50KB</maxFileSize>
            <!-- total size of all archive files, if total size > y,
				it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <timeZone>Europe/Berlin</timeZone>
                </timestamp>
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <stackTrace />
                <mdc /> <!-- includes correlationId, userId, etc. if present -->
            </providers>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyy-MM-dd'T'HH:mm:ss.SSS,Europe/Berlin}] [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="de.julian.mensarater" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="de.julian.mensarater" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>